@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&display=swap");

html,
body,
div,
h1 {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: "Gowun Batang", serif; */
  font-family: "Gowun Batang";
  /* font-weight: 700; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ff {
  font-family: "Nanum Pen Script", cursive;
}

@font-face {
  font-family: "Gowun Batang";
  src: url(../public/GowunBatang-Bold.ttf);
}
